.input-component-wrapper {
    width: 100%;
    max-width: 509px;
    flex-grow: 1;
}

.input-wrapper {
    position: relative;
    background-color: #1a161f;
    border-radius: 30px;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 14px 0;
    padding-left: 76px;
    color: #C0C0C0;
    font-size: calc(15px + 3 * ((100vw - 320px) / 1920));
    width: 100%;
    height: 100%;
}

.input-wrapper__icon {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translate(0, -50%);
}

.errorMessage {
    display: inline-block;
    margin-top: 10px;
    font-size: calc(15px + 3 * ((100vw - 320px) / 1920));
    color: #EC4040;
}